.shoppingCartTable {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.table {
    display: flex;
    flex-direction: column;
    padding: 10px;    
}

.tabbleRow {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions__item {
    margin: 5px;
    padding: 5px;
}