.shoppingCartTable {
    box-shadow: 0 0 15px rgba(1, 53, 102, 0.5);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.headerCartTable {
    text-transform: uppercase;

}

.table {
    display: flex;
    flex-direction: column;
    padding: 10px;    
    box-shadow: 0 0 3px rgba(0, 16, 31, 0.5);
    margin: 10px;
    border-radius: 5px;

}

.tabbleRow {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions__item {
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 50%;
    width: 25px;
    text-align: center;
    cursor: pointer;    
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 1s all ease;
}

.actions__item:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);;

}