.bookListItem {
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

.bookDetails {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
