.header {
    padding: 10px 0px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;

}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.header__item {
    box-shadow: 0 0 15px rgba(1, 53, 102, 0.5);
    border: 3px solid lightgray;
    border-radius: 5px;
    transition: 1s all ease;
    padding: 5px;
    width: 170px;
    text-align: center;
}

.header__item:hover {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border: 3px solid rgb(0, 0, 0);
}